.signInForm {
    padding: var(--gap-m);
    width: 100%;
    height: 100%;

    background: var(--form-bg-color);
}

.title {
    font-size: var(--text-title-size);
    color: var(--text-primary-color);
    margin-bottom: var(--gap-xl);
}

.input {
    margin-bottom: var(--gap-l);
}
