.signInForm {
    padding: var(--gap-m);
    width: 100%;
    height: 100%;

    background: var(--form-bg-color);
}

.title {
    font-size: var(--text-title-size);
    color: var(--text-primary-color);
    margin-bottom: var(--gap-xl);
}

.block {
    margin-bottom: var(--gap-l);
}

.restoreContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    font-size: var(--text-size-m);
}

.restoreLink {
    text-decoration: none;
}
