.label {
    display: block;
}

.title {
    display: block;
    margin-bottom: var(--gap-s);

    color: var(--text-primary-color);
    font-size: var(--text-size);
}

.inputContainer {
    position: relative;
}

.input {
    font-size: var(--text-size-l);
    padding: var(--gap-m);
    width: 100%;

    border: 1px solid var(--main-border-color);
    border-radius: 16px;
}

.input_invalid {
    border-color: var(--alert-text-color);
}

.passwordVisibilityButton {
    position: absolute;

    width: 24px;
    height: 24px;
    right: var(--gap-m);
    top: 50%;

    transform: translateY(-50%);

    background: url('/open_eye.svg') no-repeat center white;
    background-size: contain;

    border: none;
}

.passwordVisibilityButton_closed {
    background-image: url('/closed_eye.svg');
}

.errorMessage {
    position: relative;

    padding-left: var(--gap-m);
    padding-top: var(--gap-s);

    font-size: var(--text-size-s);
    color: var(--alert-text-color);
}

.errorMessage::before {
    content: '';
    position: absolute;

    left: 0;
    bottom: 2px;
    width: 10px;
    height: 10px;

    background: var(--alert-text-color);
    border-radius: 50%;
}
