.button {
    padding: var(--gap-m) 0;

    color: var(--control-action-text-color);

    background-color: var(--control-action-color);
    border-radius: 16px;
    border: none;

    box-shadow: none;

    font-size: var(--text-size-l);
}

.button_maxWidth {
    width: 100%;
}

.button:disabled {
    background-color: var(--control-disabled-color);
}
